{{ define "title" }}Rokky{{ end }}
{{ define "content" }}

  <div class="void">
    <h1 id="animatedText">Сайт начинается с html.</h1>
  </div>

  <div class="con-mob">
    <div class="terminal">
      <div class="con-menu-terminal">
        <div class="menu-terminal">
          <div class="con-knopki">
            <div class="slider">
              <button class="mob-btn active-btn"><img src="/static/img/repo.svg" alt=""></button>
              <button class="mob-btn2 active-btn"><img src="/static/img/octoface.svg" alt=""></button>
              <button class="mob-btn3 active-btn"><img src="/static/img/external-drive.svg" alt=""></button>
              <button class="mob-btn4 active-btn"><img src="/static/img/lightbulb.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>

      <div class="con-text-mob">
        <div class="btn-text1">
          <div class="text-mob">
            <h3>Обо мне</h3>
            <p class="typing">Привет! Я Илья Чесалин — программист и <br>
              дизайнер. Создаю сайты, Telegram-ботов и <br>
              работаю с базами данных. Владею HTML, <br>
              CSS, JavaScript и PHP.
            </p>
          </div>
          <div class="heshtag-mob"><p>#Воплоти свой проект</p></div>
        </div>

        <div class="btn-text1">
          <div class="text-mob2">
            <h3>Консультация</h3>
            <p>Обсудим проект, составим план, <br>
              согласуем бюджет и сроки. Гарантирую <br>
              прозрачность, контроль и качество на <br>
              каждом этапе.
            </p>
          </div>
          <div class="heshtag-mob2"><p>#Управляй проектом</p></div>
        </div>

        <div class="btn-text1">
          <div class="text-mob3">
            <h3>Для Telegram</h3>
            <p>Делаю Telegram-ботов, подключаю сайты к <br>
              Telegram, пишу WebApp и AI-ассистентов. <br>
              Автоматизируй бизнес в telegram под себя <br>
              и забдуь про рутину.
            </p>
          </div>
          <div class="heshtag-mob3"><p>#Telegram будущее</p></div>
        </div>

        <div class="btn-text1">
          <div class="text-mob4">
            <h3>Помощь 24/7</h3>
            <p>Мы поддерживаем клиентов и даже после <br>
              завершения проекта, мы помогаем с <br>
              вопросами и доработками для его <br>
              стабильной работы.
            </p>
          </div>
          <div class="heshtag-mob4"><p>#Всегда поможем</p></div>
        </div>
      </div>

      <div class="con-polosa-mob"><div class="polosa-mob"></div></div>

      <div class="con-acei">
        <div class="acia">
          <div class="acia-logo"><img src="/static/img/ticket-discount.svg" alt=""><p>Скидка</p></div>
          <div class="acia-text"><p>Расскажи друзьям <br>обо мне и получи <br>скидку — 10%</p></div>
          <div class="acia-btn"><a href="https://t.me/rokkycodee"><img src="/static/img/arrow-circle-right.svg" alt=""></a></div>
        </div>
        <div class="acia">
          <div class="acia-logo2"><img src="/static/img/folder-opened.svg" alt=""><p>Портфолио</p></div>
          <div class="acia-text2"><p>Посмотреть все <br>работы можно прямо <br>в Telegram.</p></div>
          <div class="acia-btn"><a href="https://t.me/rokkycodee"><img src="/static/img/arrow-circle-right-2.svg" alt=""></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="con-ryadov">
    <div class="ryad1">
      <div class="plashka">
        <div class="Name-con">
          <div class="Name">
            <img src="/static/img/repo.svg" alt="">
            <h2>Обо мне</h2>
          </div>
        </div>
        <div class="Text-con">
          <div class="Text-p">
            <p>Привет! Я Илья Чесалин — программист и 
              дизайнер. Создаю сайты, Telegram-ботов и 
              работаю с базами данных. Владею HTML, 
              CSS, JavaScript и PHP.
            </p>
            <div class="heshtag"><p>#Воплоти свой проект</p></div>
          </div>
        </div>
        <div class="polosa"></div>
        <div class="social-con">
          <div class="social">
            <p>Мои соц.сети:</p>
            <div class="perehod">
              <div class="Github">
                <a href="https://github.com/Rokkycode"><img src="/static/img/mark-github-24.svg" alt="" class="first"></a>
                <a href="https://github.com/Rokkycode"><img src="/static/img/mark-github-24-color.svg" alt="" class="second"></a>
              </div>
              <div class="Telegram">
                <a href="https://t.me/rokkycodee"><img src="/static/img/Logo Old.svg" alt="" class="first"></a>
                <a href="https://t.me/rokkycodee"><img src="/static/img/Logo Old-color.svg" alt="" class="second"></a>
              </div>
            </div>
            <div class="con-btn-1">
              <div class="btn-plshk"><a href="https://t.me/rokkycodee"><button class="btn-1">Подписаться</button></a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="plashka2">
        <div class="Name-con">
          <div class="Name2">
            <img src="/static/img/octoface.svg" alt="">
            <h2>Консультация</h2>
          </div>
        </div>
        <div class="Text-con">
          <div class="Text-p2">
            <p>Обсудим проект, составим план, согласуем 
              бюджет и сроки. Гарантирую прозрачность, 
              контроль и качество на каждом этапе.
            </p>
            <div class="heshtag2"><p>#Управляй проектом</p></div>
          </div>
        </div>
        <div class="polosa2"></div>
        <div class="konsyl">
          <div class="con-free"><p>Бесплатно</p></div>
          <div class="btn-plshk"><a href="https://t.me/Mr_Rokky"><button class="btn-2">Начать</button></a></div>
        </div>
      </div>

      <div class="plashka">
        <div class="Name-con">
          <div class="Name3">
            <img src="/static/img/lightbulb.svg" alt="">
            <h2>Помощь 24/7</h2>
          </div>
        </div>
        <div class="Text-con">
          <div class="Text-p">
            <p>Мы поддерживаем клиентов и даже после 
              завершения проекта, мы помогаем с 
              вопросами и доработками для его 
              стабильной работы.
            </p>
            <div class="heshtag3"><p>#Воплоти свой проект</p></div>
          </div>
        </div>
        <div class="polosa"></div>
        <div class="konsyl2">
          <div class="con-free"><p>Список услуг</p></div>
          <div class="btn-plshk"><a href=""><button class="btn-3">Посмотреть</button></a></div>
        </div>
      </div>
    </div>

    <div class="ryad2">
      <div class="mini-plshk">
        <div class="back-img">
          <img class="img-default" src="/static/img/discount-shape.svg" alt="">
          <img class="img-hover"  src="/static/img/discount-shape-color.svg" alt="">
        </div>
        <div class="Name-con">
          <div class="Name4">
            <img src="/static/img/ticket-discount.svg" alt="">
            <h2>Скидка</h2>
          </div>
        </div>
        <div class="Text-con">
          <div class="Text-p">
            <p>Расскажи друзьям обо мне, отправь скрин и 
              получи скидку — 10%
            </p>
          </div>
        </div>
        <div class="polosa3"></div>
        <div class="con-btn-mini">
          <div class="btn-plshk"><a href="https://t.me/rokkycodee"><button class="btn-4">Рассказать</button></a></div>
        </div>
      </div>

      <div class="mini-plshk2">
        <div class="back-img2">
          <img class="img-default" src="/static/img/ruler&pen.svg" alt="">
          <img class="img-hover"  src="/static/img/ruler&pen-color.svg" alt="">
        </div>
        <div class="Name-con">
          <div class="Name5">
            <img src="/static/img/folder-opened.svg" alt="">
            <h2>Портфолио</h2>
          </div>
        </div>
        <div class="Text-con">
          <div class="Text-p">
            <p>Как я работаю вы можете посмотреть в 
              Telegram - там все секреты.
            </p>
          </div>
        </div>
        <div class="polosa3"></div>
        <div class="con-btn-mini">
          <div class="btn-plshk"><a href="https://t.me/rokkycodee"><button class="btn-5">Посмотреть</button></a></div>
        </div>
      </div>

      <div class="mini-plshk">
        <div class="back-img">
          <img class="img-default" src="/static/img/bot.svg" alt="">
          <img class="img-hover"  src="/static/img/bot-color.svg" alt="">
        </div>
        <div class="Name-con">
          <div class="Name6">
            <img src="/static/img/external-drive.svg" alt="">
            <h2>Дополнительно</h2>
          </div>
        </div>
        <div class="Text-con">
          <div class="Text-p">
            <p>• Создание Telegram ботов.<br>
              • Настройка Webapp.
            </p>
          </div>
        </div>
        <div class="polosa3"></div>
        <div class="con-btn-mini">
          <div class="btn-plshk"><a href="https://t.me/rokkycodee"><button class="btn-6">Создать бота</button></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="con-saits">
    <div class="tire-saits"><div class="plshk-saits"><p>Сайты</p></div></div>
  </div>

  <div class="con-portfolio-mob">
    <div class="portfolio-mob">
      <div class="portfolio-name"><h3>Сайты / Telegram</h3></div>
      <div class="goose-wrap" style="position: relative;">
        <img src="/static/img/step-1.svg" class="goose">
        <div class="cherta"></div>
      </div>
      <div class="con-apps-mob">
        {{ range .Sites }}
        <div class="apps-mob">
          <div class="icon-app-mob">
            {{ if .Image }}<img src="{{ .Image }}" alt="{{ .Title }}">{{ else }}<img src="/static/img/krest.svg" alt="">{{ end }}
          </div>
          <div class="app-name-mob">
            <h3>{{ .Title }}</h3>
            <p>{{ .Description }}</p>
          </div>
          <div class="crugGreen"></div>
          <div class="btn-app-mob">
            {{ if .URL }}<a href="{{ .URL }}"><button class="btn-mob">Перейти</button></a>{{ else }}<button class="btn-mob"></button>{{ end }}
          </div>
        </div>
        <div class="app-polosa-mob"></div>
        {{ end }}

        <div class="apps-mob">
          <div class="icon-app-mob"><img src="/static/img/krest.svg" alt=""></div>
          <div class="app-name-mob"><h3>Скоро</h3><p>Нет информации</p></div>
          <div class="locket"><img src="/static/img/lock.svg" alt=""></div>
          <div class="btn-app-mob"><button class="btn-mob"></button></div>
        </div>

        <div class="cherta"></div>
        <div class="con-btn-menu-port">
          <div class="ryad1-mob">
            <a href="https://t.me/rokkycodee"><button class="btn-menu2"><img src="/static/img/telegram-mob.svg" alt=""> Telegram боты</button></a>
            <a href="https://t.me/Mr_Rokky"><button class="btn-menu2"><img src="/static/img/Style=bold.svg" alt=""> Написать мне</button></a>
          </div>
          <div class="ryad1-mob2">
            <a href="https://t.me/rokkycodee"><button class="btn-menu2"><img src="/static/img/star.svg" alt=""> Отзывы</button></a>
            <a href="#tarif"><button class="btn-menu2"><img src="/static/img/dollar.svg" alt=""> Прайс</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="con-varning-mob">
    <div class="varning-mob">
      <div class="varning-name"><img src="/static/img/danger.svg" alt=""><p>Внимание!</p></div>
      <div class="varning-text">
        <p>Не весь контент адптирован под телефон, чтобы увидеть<br>
          больше, зайдите с компьютера, спасибо!</p>
        <div class="heart"><img src="/static/img/heart.svg" alt=""></div>
      </div>
    </div>
  </div>

  <div class="con-portfolio" id="port">
    <div class="portfolio">
      <div class="con-menu-port">
        <div class="con-filtr"><img src="/static/img/filter.svg" alt=""></div>
        <div class="con-crugov">
          <div class="Green"><p>Сайт работает</p><div class="crugGreen"></div></div>
          <div class="Blue"><p>Новый сайт</p><div class="crugBlue"></div></div>
          <div class="Pink"><p>Адаптирован</p><div class="crugPink"></div></div>
          <div class="None"><p>Нет сайта</p><img src="/static/img/lock.svg" alt=""></div>
        </div>
        <div class="con-jump"><button class="jump" type="button">Jump <img src="/static/img/Dead-btn.svg" alt=""></button></div>
        <div class="con-dino"><canvas id="dinoCanvas" class="dino-canvas"></canvas></div>
        <div class="con-score"><div class="score">0 score</div></div>
      </div>

      <div class="polosa-port"></div>

      {{ if gt (len .Sites) 0 }}
        {{ $main := index .Sites 0 }}
        <div class="con-more-apps">
          <div class="con-apps">
            <div class="big-con-apps">
              <div class="app">
                {{ if $main.Image }}<img src="{{ $main.Image }}" alt="{{ $main.Title }}">{{ else }}<img src="/static/img/krest.svg" alt="">{{ end }}
              </div>
              <div class="Name-projekt">
                <div class="naming">
                  <div class="nick">
                    <h3>{{ $main.Title }}</h3>
                    <div class="poz-crug"><div class="crugGreen"></div></div>
                  </div>
                  <div class="bottom-nick"><p>{{ $main.Description }}</p></div>
                </div>
                <div class="poz-btn">
                  {{ if $main.URL }}<a href="{{ $main.URL }}"><button class="btn-app">Перейти</button></a>{{ else }}<button class="btn-lock"></button>{{ end }}
                </div>
              </div>
            </div>

            <div class="big-con-apps">
              <div class="app"><img src="/static/img/krest.svg" alt=""></div>
              <div class="Name-projekt">
                <div class="naming">
                  <div class="nick"><h3>Скоро</h3><div class="poz-crug"><img src="/static/img/lock.svg" alt=""></div></div>
                  <div class="bottom-nick"><p>Нет информации</p></div>
                </div>
                <div class="poz-btn"><button class="btn-lock"></button></div>
              </div>
            </div>
            <div class="big-con-apps">
              <div class="app"><img src="/static/img/krest.svg" alt=""></div>
              <div class="Name-projekt">
                <div class="naming">
                  <div class="nick"><h3>Скоро</h3><div class="poz-crug"><img src="/static/img/lock.svg" alt=""></div></div>
                  <div class="bottom-nick"><p>Нет информации</p></div>
                </div>
                <div class="poz-btn"><button class="btn-lock"></button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="polosa-port"></div>
      {{ end }}

      {{ range $i, $s := .Sites }}
        {{ if gt $i 0 }}
        <div class="con-more-apps">
          <div class="con-apps">
            <div class="big-con-apps">
              <div class="app">
                {{ if $s.Image }}<img src="{{ $s.Image }}" alt="{{ $s.Title }}">{{ else }}<img src="/static/img/krest.svg" alt="">{{ end }}
              </div>
              <div class="Name-projekt">
                <div class="naming">
                  <div class="nick">
                    <h3>{{ $s.Title }}</h3>
                    <div class="poz-crug"><div class="crugGreen"></div></div>
                  </div>
                  <div class="bottom-nick"><p>{{ $s.Description }}</p></div>
                </div>
                <div class="poz-btn">
                  {{ if $s.URL }}<a href="{{ $s.URL }}"><button class="btn-app">Перейти</button></a>{{ else }}<button class="btn-lock"></button>{{ end }}
                </div>
              </div>
            </div>

            <div class="big-con-apps">
              <div class="app"><img src="/static/img/krest.svg" alt=""></div>
              <div class="Name-projekt">
                <div class="naming">
                  <div class="nick"><h3>Скоро</h3><div class="poz-crug"><img src="/static/img/lock.svg" alt=""></div></div>
                  <div class="bottom-nick"><p>Нет информации</p></div>
                </div>
                <div class="poz-btn"><button class="btn-lock"></button></div>
              </div>
            </div>
            <div class="big-con-apps">
              <div class="app"><img src="/static/img/krest.svg" alt=""></div>
              <div class="Name-projekt">
                <div class="naming">
                  <div class="nick"><h3>Скоро</h3><div class="poz-crug"><img src="/static/img/lock.svg" alt=""></div></div>
                  <div class="bottom-nick"><p>Нет информации</p></div>
                </div>
                <div class="poz-btn"><button class="btn-lock"></button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="polosa-port"></div>
        {{ end }}
      {{ end }}

      <div class="con-more-apps">
        <div class="con-apps">

          <div class="big-con-apps">
            <div class="app">
              <img src="/static/img/Ч 1.svg" alt="">
            </div>
            <div class="Name-projekt">
              <div class="naming">
                <div class="nick">
                  <h3>Адвокат</h3>
                  <div class="poz-crug">
                    <div class="crugGreen"></div>
                    <div class="crugPink"></div>
                  </div>
                </div>
                <div class="bottom-nick">
                  <p>Юриспруденция</p>
                </div>
              </div>
              <div class="poz-btn">
                <a href="https://advokat-chesalina.ru/"><button class="btn-app">Перейти</button></a>
              </div>
            </div>
          </div>

          <div class="big-con-apps">
            <div class="app">
              <img src="/static/img/krest.svg" alt="">
            </div>
            <div class="Name-projekt">
              <div class="naming">
                <div class="nick">
                  <h3>Скоро</h3>
                  <div class="poz-crug">
                    <img src="/static/img/lock.svg" alt="">
                  </div>
                </div>
                <div class="bottom-nick">
                  <p>Нет информации</p>
                </div>
              </div>
              <div class="poz-btn">
                <button class="btn-lock"></button>
              </div>
            </div>
          </div>

          <div class="big-con-apps">
            <div class="app">
              <img src="/static/img/krest.svg" alt="">
            </div>
            <div class="Name-projekt">
              <div class="naming">
                <div class="nick">
                  <h3>Скоро</h3>
                  <div class="poz-crug">
                    <img src="/static/img/lock.svg" alt="">
                  </div>
                </div>
                <div class="bottom-nick">
                  <p>Нет информации</p>
                </div>
              </div>
              <div class="poz-btn">
                <button class="btn-lock"></button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="polosa-port"></div>

      <div class="con-btns">
        <div class="left">
          <a href=""><button class="otziv"><img src="/static/img/star.svg" alt=""> Отзывы</button></a>
          <a href="#tarif" id="linkToTarif"><button class="price"><img src="/static/img/dollar.svg" alt=""> Прайс</button></a>
        </div>
        <div class="right">
          <a href="https://t.me/Mr_Rokky"><button class="conect"><img src="/static/img/Style=bold.svg" alt=""> Связаться со мной</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="con-plaski-price">
    <div class="tire-price"><div class="plshk-price"><p>Прайс</p></div></div>
  </div>

  <div class="con-plaski-price" id="tarif">
    {{ range .Prices }}
      {{ $variant := .Variant }}
      {{ if eq $variant "price2" }}
      <div class="price2">
        <div class="back-img-price2">
          {{ if .ImageBg }}<img src="{{ .ImageBg }}" alt="">{{ else }}<img src="/static/img/github-action.svg" alt="">{{ end }}
        </div>
        <div class="con-price-name">
          <div class="price-name">
            {{ if .ImageMain }}<img src="{{ .ImageMain }}" alt="">{{ else }}<img src="/static/img/tgbot.svg" alt="">{{ end }}
            <h3>{{ .Name }}</h3>
          </div>
          <div class="text-price"><p>{{ .Description }}</p></div>
        </div>
        <div class="tire3"></div>
        <div class="cena"><h1>₽ {{ .Amount }} <span class="gray">/ стартовая цена</span></h1></div>
        <div class="tire2"></div>
        <div class="con-tovar">
          <div class="how-tovar">
            <div class="name-how"><h3>Что входит</h3></div>
            <div class="con-img-text">
              <div class="img-tovar">
                {{ range .Features }}{{ if .Icon }}<img src="{{ .Icon }}" alt="">{{ end }}{{ end }}
              </div>
              <div class="text-tovar">
                {{ range .Features }}<p>{{ .Text }}</p>{{ end }}
              </div>
            </div>
          </div>
        </div>
        <div class="btn-talk"><a href="https://t.me/Mr_Rokky"><button class="talk2">Обсудить</button></a></div>
      </div>

      {{ else if eq $variant "price3" }}
      <div class="price1">
        <div class="back-img-price3">
          {{ if .ImageBg }}<img src="{{ .ImageBg }}" alt="">{{ else }}<img src="/static/img/brush.svg" alt="">{{ end }}
        </div>
        <div class="con-price-name">
          <div class="price-name">
            {{ if .ImageMain }}<img src="{{ .ImageMain }}" alt="">{{ else }}<img src="/static/img/bucket.svg" alt="">{{ end }}
            <h3>{{ .Name }}</h3>
          </div>
          <div class="text-price"><p>{{ .Description }}</p></div>
        </div>
        <div class="tire"></div>
        <div class="cena"><h1>₽ {{ .Amount }} <span class="gray">/ стартовая цена</span></h1></div>
        <div class="tire2"></div>
        <div class="con-tovar">
          <div class="how-tovar">
            <div class="name-how"><h3>Что входит</h3></div>
            <div class="con-img-text">
              <div class="img-tovar">
                {{ range .Features }}{{ if .Icon }}<img src="{{ .Icon }}" alt="">{{ end }}{{ end }}
              </div>
              <div class="text-tovar">
                {{ range .Features }}<p>{{ .Text }}</p>{{ end }}
              </div>
            </div>
          </div>
        </div>
        <div class="btn-talk"><a href="https://t.me/Mr_Rokky"><button class="talk3">Обсудить</button></a></div>
      </div>

      {{ else }}
      <div class="price1">
        <div class="back-img-price">
          {{ if .ImageBg }}<img src="{{ .ImageBg }}" alt="">{{ else }}<img src="/static/img/global-price-gray.svg" alt="">{{ end }}
        </div>
        <div class="con-price-name">
          <div class="price-name">
            {{ if .ImageMain }}<img src="{{ .ImageMain }}" alt="">{{ else }}<img src="/static/img/global.svg" alt="">{{ end }}
            <h3>{{ .Name }}</h3>
          </div>
          <div class="text-price"><p>{{ .Description }}</p></div>
        </div>
        <div class="tire"></div>
        <div class="cena"><h1>₽ {{ .Amount }} <span class="gray">/ стартовая цена</span></h1></div>
        <div class="tire2"></div>
        <div class="con-tovar">
          <div class="how-tovar">
            <div class="name-how"><h3>Что входит</h3></div>
            <div class="con-img-text">
              <div class="img-tovar">
                {{ range .Features }}{{ if .Icon }}<img src="{{ .Icon }}" alt="">{{ end }}{{ end }}
              </div>
              <div class="text-tovar">
                {{ range .Features }}<p>{{ .Text }}</p>{{ end }}
              </div>
            </div>
          </div>
        </div>
        <div class="btn-talk"><a href="https://t.me/Mr_Rokky"><button class="talk">Обсудить</button></a></div>
      </div>
      {{ end }}
    {{ else }}
      <p>Прайс пока пуст.</p>
    {{ end }}
  </div>

{{ end }}
