@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCodePL-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Фон сайта*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}
  

.container {
    width: 100%;
    max-width: 1440px;
    height: 3350px;
    margin: 0 auto;
    background-color: black;
    overflow: hidden;
}

@media (max-width: 480px) {
    .container {
        height: 2950px;
    }
}